:root {
    --bg: #807e9a;
}

html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-y: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
}

.container {
    margin: 7%;
}

.game {
    position: relative;
    background: var(--bg);
    width: 406px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 10px;
}

.undo, .reload, .save {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.save {
    display: inline;
    border: 1px solid var(--bg);
}

.undo:hover, .reload:hover, .save:hover {
    cursor: pointer;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    padding: 3px;
    border-radius: 10px;
}

.grid div {
    width: 94px;
    height: 59px;
    margin: 3px;
    background-color: rgb(255, 252, 205);
    font-size: 1.3rem;
    text-align: center;
    padding-top: 35px;
    border-radius: 5px;
}

.grid .zero {
    background-color: #eee;
}

.grid .two {
    background-color: rgb(255, 253, 221);
}

.grid .four {
    background-color: rgb(255, 237, 213);
}

.grid .eight {
    background-color: rgb(255, 230, 210);
}

.grid .sixteen {
    background-color: rgb(255, 221, 211);
}

.grid .thirtytwo {
    background-color: rgb(255, 211, 211);
}

.grid .sixfour {
    background-color: rgb(255, 211, 229);
}

.grid .ontwoei {
    background-color: rgb(253, 214, 251);
}

.grid .twfisi {
    background-color: rgb(233, 210, 255);
}

.grid .fionetwo {
    background-color: rgb(221, 217, 255);
}

.grid .oneotwfo {
    background-color: rgb(211, 226, 255);
}

.grid .win {
    background-color: rgb(189, 255, 205);
}

#result {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 30%;
    left: 15%;
    width: 70%;
    padding: 25% 0;
    border-radius: 10px;
    color: white;
    font-weight: 800;
    font-size: 1.7rem;
    text-align: center;
    visibility: hidden;
}

@media (max-width: 450px) {
    .game {
        width: 354px;
    }

    .grid {
        width: 348px;
        height: 348px;
        padding: 3px;
    }

    .grid div {
        width: 81px;
        height: 56px;
        padding-top: 25px;
        margin: 3px;
    }
}

@media (max-width: 400px) {
    .game {
        width: 330px;
    }

    .grid {
        width: 324px;
        height: 324px;
        padding: 3px;
    }

    .grid div {
        width: 75px;
        height: 50px;
        margin: 3px;
        padding-top: 25px;
    }
}